@media (max-width: 960px){

    .network-inner .container,
.community-inner .container,
.solutions-inner .container,
.build-inner .container,
.learn-inner .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #161616;
    border-radius: 10px;
    position: relative;
    left: 0%;
    height: fit-content;
}

.container .group{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

    .ads{
        text-align: center;
    }

    nav{
        justify-content: space-between;
        padding: 18px 30px;
        align-items: center;
        background: var(--bs-body-bg);
        width: 100%;
        display: block;
        z-index: 1000;
    }

    .toggle li{
        display: flex;
        justify-content: space-between;
    }

    .container-1 nav::-webkit-scrollbar{
        display: none;
    }

    .container-1 nav{
        overflow-y: scroll;
    }

    .container-1 nav ul{
        height: 100vh;
    }

    .toggle{
        padding: 20px;
        border-bottom: 1px solid rgb(26, 25, 25);
    }

    .visble{
        display: flex;    
    }

    nav ul{
        display: flex;
        padding-top: 10%;
        gap: 170px;
        height: 100vh;
        flex-direction: column;
        display: none;
    }

    .btnt{
        flex-wrap: wrap;
    }

    .fa-bars{
        position: absolute;
        top: 2%;
        left: 90%;
    }

    .hid{
        display: flex;
    }
 
    .brands img{
        margin-bottom: 0%;
    }

    .flow .ror img{
        display: none;
    }

    /* .flow{
        gap: 470px;
    } */

    .ror{
        display: flex;
        gap: 0px;
        padding-right: 0%;
        padding-left: 0px;
    }

    .fo{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .fo h3{
        font-size: 30px;
        margin-top: 10%;
        width: fit-content;
        display: flex;
        margin-left: 10%;
    }

    .container-2 h5{
        text-align: center;
    }

    .brands img{
        width: 70px;
    }

    .made-for-mass .container{
        display: flex;
        flex-direction: column;
        margin-top: 10%;
    }

    .made{
        margin-top: 0%;
    }
    
    .SP{
        margin-top: 10%;
    }

    .for{
        margin-top: 0%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .growth-built .nav{
        display: block;
    }

    .case-studies .container{
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        width: 86%;
    }

    .case-1 a{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 100%;
        color: #fff;
        position: relative;
    }

    .case-1 img{
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0px;
        width: 100%;
    }

    .cast{
        justify-content: center;
        align-items: center;
        display: flex;
        background: #544848;
        font-size: 32px;
        font-weight: 400;
        padding: 10px 20px;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        border-top-right-radius: 0px;
        width: 100%;
        height: fit-content;
    }

    .case-2{
        gap: 40px;
        display: flex;
        flex-direction: column;
        margin-top: 15%;
        /* justify-content: center; */
    }

    .dd {
        width: 100%;
    }

    .count{
        font-size: 80px;
    }
    
}


@media (max-width: 760px){ 

    .footer .container{
        display: flex;
        flex-direction: column;
        gap: 50px;
        width: 100%;
        padding: 0 10%;
    }
    
    .final{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
    }
    
    .fil{
        display: flex;
        gap: 3px;
        position: relative;
        margin-top: -10%;
        left: 105%;
        width: fit-content;
        height: fit-content;
    }
}

@media (max-width: 544px){

    .co{
        gap: 10px;
        padding: 10px;
        
    }
}


@media (max-width: 450px){

    .SP{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .growth-built{
        margin-top: 25%;
    }

    .ar{
        margin-bottom: 30%;
        margin-top: 0%;
    }


    .nav h3{
        font-size: 40px;
        width: fit-content;
    }

    .pay{
        flex-direction: column;
        width: 100%;
        height: 100%;
    }

    .pay img{
        height: fit-content;
        width: 100%;
        border-bottom-left-radius: 0%;
        border-top-right-radius: 20px;
    }

    .co{
        border-top-right-radius: 0%;
        border-bottom-left-radius: 20px;
    }

    .container-2{
        padding: 30px;
    }
}



@media (max-width:280px) {
          

    .intro h1{
        font-size: 30px;
        font-weight: 800;
        line-height: 1.1;
        margin-bottom: 60px;
    }

    .count{
        font-size: 60px;
        font-weight: 350;
        line-height: 1.2;
    }

    .growth-built{
        margin-top: 60%;
        margin-bottom: 55%;
    }

    .case-1{
        margin-bottom: 17%;
    }

}